.cteate-notes{
    width: 55px;
    height: 55px;
    position: fixed;
    border-radius: 50%;
    background-color: #706ea5;
    color: #ccc;
    padding: 10px 18px;
    bottom: 30px;
    right: 30px;
    border: none;
    font-size: 2em;
    font-weight: 550;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
.cteate-notes:hover{
    background-color: #3f3379;
    transform: scale(.95);
  }