.expand-set{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 10px 20px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
    background-color: #FFE5E5;
    top: 150px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.note-entry{
    border: none;
    background-color:rgba(209, 193, 193, 0.365);
    resize: none;
    font-size: 1.2em;
    padding: 5px 30px;
    margin: 10px 0;
    line-height: 30px;
    border-radius: 10px;
}
.title-textarea{
    background-color:rgba(209, 193, 193, 0.365);
    background: linear-gradient(90deg, rgba(209, 193, 193, 0.365) 80%, rgba(255,229,229,1) 100%);
}
.body-textarea{
    background-color:rgba(209, 193, 193, 0.365);
    background: linear-gradient(150deg, rgba(209, 193, 193, 0.365) 70%, rgba(255, 229, 229, 0.365) 100%);
    padding: 10px 40px 40px 10px;
}
.note-entry::placeholder{
    font-size: 1.2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.close-btn{
    position: absolute;
    right: 25px;
    top: 25px;
}
.close-btn:hover{
    transform: scale(.9);
}
#done-btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
